/* data types ****************************************************************/

$corners: top-left top-right bottom-right bottom-left;
$directions: up down left right;

$horizontal-sides: left right;
$vertical-sides: top bottom;
$sides: join($horizontal-sides, $vertical-sides);

$horizontal-alignments: join($horizontal-sides, (center));
$vertical-alignments: join($vertical-sides, (middle));
$alignments: join($horizontal-alignments, $vertical-alignments);

$cases: upper lower capital;

/* data relations ************************************************************/

$opposite-sides: (top bottom) (left right);
$opposite-corners: (top-left bottom-right) (top-right bottom-left);
$opposite-directions: (up down) (left right);

$side-directions: (top up) (bottom down) (left left) (right right);

$moz-corners: (top-left topleft) (top-right topright) (bottom-left) (bottomleft) (bottom-right) (bottomright);

