/* RESET ********************************************************************************** RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:20px;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
button::-moz-focus-inner, input::-moz-focus-inner, ::-moz-focus-inner { border:0; padding:0; }
/* ELEMENTS **************************************************************************** ELEMENTS */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, .h1 {font-size:36px;font-weight:normal;line-height:1.2em;margin-bottom:10px;}
h2, .h2 {font-size:24px;font-weight:normal;line-height:1.2em;margin-bottom:10px;}
h3, .h3 {font-size:18px;font-weight:normal;line-height:1.2em;margin-bottom:10px;}
h4, .h4 {font-size:14px;font-weight:normal;line-height:1.2em;margin-bottom:10px;}
h5, .h5 {font-size:12px;font-weight:bold;line-height:1.2em;margin-bottom:10px;}
h6, .h6 {font-size:12px;font-weight:bold;line-height:1.2em;margin-bottom:5px;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 10px;}
a:focus, a:hover {color:#009;text-decoration:underline;}
a {color:#009;outline:none;text-decoration:none;}
blockquote {margin:20px;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 10px;font-style:italic;}
del {color:#666;}
pre {margin:0 0 10px 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:20px;}
li ul, li ol {margin:0;}
ul, ol {margin:0 20px 10px 0;padding-left:40px;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 10px 0;}
dl dt {font-weight:bold;}
dd {margin-left:20px;}
table {margin-bottom:10px;width:100%;}
th {font-weight:bold;}
th, td, caption {padding:5px;}
tfoot {font-style:italic;}
caption {background:#eee;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 9px;border:none;}
input[type='text'],
input[type='search'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
textarea {border:1px solid #CCC;padding:2px 3px;}
textarea {font:inherit;}