@import "bowerbird-constants";
@import "bowerbird-functions";
@import "bowerbird-mixins";
@import "bowerbird-definitions";

/* utilities *****************************************************************/

@include def-clear-fix;
@include def-wrap-fix;
@include def-image-fix;

/* flow **********************************************************************/

@include def-display-block;
@include def-display-inline;
@include def-display-inline-block;

@include def-border-box;
@include def-content-box;

.container {
  @extend .clear-fix;
  @extend .display-block;
  margin: 0 auto;
}

/* shape *********************************************************************/

/* width, height and line-height */

@for $i from 10 through 20 { /* 1em 1em1 1em2 ... */
  $ex: $i * 0.1ex;
  $em: $i * 0.1em;

  @include def-width( $ex );
  @include def-height( $em );
  @include def-line-height( $em );
}

@for $i from 0 through 20 { /* 0u 0u1 0u2 ... */
  $px: $i * 1px;

  @include def-width( $px );
  @include def-box-width( $px );

  @include def-height( $px );
  @include def-box-height( $px );
  @include def-line-height( $px );
}

@for $i from 0 through 20 { /* 0u 0u5 1u ... */
  $px: $i * 5px;

  @include def-width( $px );
  @include def-box-width( $px );

  @include def-height( $px );
  @include def-box-height( $px );
}

@for $i from 1 through 24 { /* 3u 7u 11u ... */
  $px: $i * 40px - 10;
  $col: $i * 1col;

  @include def-width( $px );
  @include def-box-width( $px );

  .width-#{ f($col) } { @extend .width-#{ f($px) }; }
  .box-width-#{ f($col) } { @extend .box-width-#{ f($px) }; }
}

@include def-box-fill;

.height-auto { @include height(auto); }
.width-auto { @include width(auto); }
.width-full { @include box-width(100%); }

.width-1-quarter { @include box-width(25%); }
.width-1-third { @include box-width(33.33%); }
.width-1-half { @include box-width(50%); }
.width-2-thirds { @include box-width(66.66%); }
.width-3-quarters { @include box-width(75%); }

/* position ******************************************************************/

@include def-position(relative);
@include def-position(absolute);

/* pad, space, backspace, push, pull, sink */

@for $i from 0 through 20 { /* 0u 0u1 0u2 ... */
  $px: $i * 1px;

  @each $side in $sides {
    @include def-pad( $px, $side );
    @include def-sink( $px, $side );
    @include def-space( $px, $side );
    @include def-backspace( $px, $side );
  }

  @each $direction in $directions {
    @include def-push( $px, $direction );
    @include def-pull( $px, $direction );
  }

  @each $key in pad, space {
    @include def-buffer-sides( $key, $px );
    @include def-buffer-box( $key, $px );
  }
}

@for $i from 0 through 20 { /* 0u 0u5 1u ... */
  $px: $i * 5px;

  @each $side in $sides {
    @include def-pad( $px, $side );
    @include def-sink( $px, $side );
    @include def-space( $px, $side );
    @include def-backspace( $px, $side );
  }

  @each $direction in $directions {
    @include def-push( $px, $direction );
    @include def-pull( $px, $direction );
  }
}

@for $i from 1 through 24 { /* 4u 8u 12u ... */
  $px: $i * 40px;

  @each $side in $sides {
    @include def-pad( $px, $side );
  }
}

/* float */

@include def-float( left );
@include def-float( right );

/* align */

@each $alignment in $alignments {
  @include def-align( $alignment );
}

/* type **********************************************************************/

@include def-font-inherit;
@include def-font-regular;
@include def-font-bold;
@include def-font-italic;
@include def-font-oblique;
@include def-text-uppercase;
@include def-text-lowercase;
@include def-text-capitalize;
@include def-text-undecorated;
@include def-text-underlined;

/* lists *********************************************************************/

.unmarked-list {list-style-type:none;margin-right:0;padding-left:0;}
.floated-l-list > li {float:left;}
.floated-r-list > li {float:right;}
.inline-list > li {display:inline;}
.inline-block-list > li {display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;}

.spaced-1-list > li, .spaced-t-1-list > li {margin-top:10px;}
.spaced-1-list > li, .spaced-b-1-list > li {margin-bottom:10px;}
.spaced-1-list > li, .spaced-l-1-list > li {margin-left:10px;}
.spaced-1-list > li, .spaced-r-1-list > li {margin-right:10px;}

ol li.last-item,
ul li.last-item,
dl li.last-item {margin-left:0;margin-right:0;}

/* sprites *******************************************************************/

.sprite {background-position:top left;background-repeat:no-repeat;}
.sprite-button:hover {background-position:bottom left;}

/* invisible *****************************************************************/

.invisible {visibility:hidden;}

/* backgrounds ***************************************************************/

.bg-alert {background-color:#fcc;}
.bg-black {background-color:#000;}
.bg-error {background-color:#fcc;}
.bg-notice {background-color:#ffc;}
.bg-success {background-color:#cfc;}
.bg-white {background-color:#fff;}
.bg-no-repeat {background-repeat:no-repeat;}

/* borders *******************************************************************/

.border-e1, .border-t-e1 {border-top-style:solid;border-top-width:1px;}
.border-e1, .border-b-e1 {border-bottom-style:solid;border-bottom-width:1px;}
.border-e1, .border-s-e1, .border-r-e1 {border-right-style:solid;border-right-width:1px;}
.border-e1, .border-s-e1, .border-l-e1 {border-left-style:solid;border-left-width:1px;}
.border-alert {border-color:#900;}
.border-black {border-color:#000;}
.border-error {border-color:#900;}
.border-notice {border-color:#f90;}
.border-success {border-color:#090;}
.border-white {border-color:#fff;}

/* colors ********************************************************************/

.color-alert {color:#900;}
.color-alert a:focus,
.color-alert a:hover {color:#900;text-decoration:none;}
.color-alert a {color:#900;text-decoration:underline;}
.color-black {color:#000;}
.color-black a:focus,
.color-black a:hover {color:#000;text-decoration:none;}
.color-black a {color:#000;text-decoration:underline;}
.color-error {color:#900;}
.color-error a:focus,
.color-error a:hover {color:#900;text-decoration:none;}
.color-error a {color:#900;text-decoration:underline;}
.color-notice {color:#f90;}
.color-notice a:focus,
.color-notice a:hover {color:#f90;text-decoration:none;}
.color-notice a {color:#f90;text-decoration:underline;}
.color-success {color:#090;}
.color-success a:focus,
.color-success a:hover {color:#090;text-decoration:none;}
.color-success a {color:#090;text-decoration:underline;}
.color-white {color:#fff;}
.color-white a:focus,
.color-white a:hover {color:#fff;text-decoration:none;}
.color-white a {color:#fff;text-decoration:underline;}

/* formatting ****************************************************************/

.text-nocase {text-transform:none;}
.white-space-nowrap {white-space:nowrap;}
.font-small {font-size:10px;line-height:15px;}


/* small? */

.small p, .small address, .small pre, .small table, .small ol, .small ul, .small dl {margin-bottom:5px;}

/* lists */

.unmarked-list {list-style-type:none;margin-right:0;padding-left:0;}
.floated-l-list > li {float:left;}
.floated-r-list > li {float:right;}
.inline-list > li {display:inline;}
.inline-block-list > li {display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;}

.spaced-1-list > li, .spaced-t-1-list > li {margin-top:10px;}
.spaced-1-list > li, .spaced-b-1-list > li {margin-bottom:10px;}
.spaced-1-list > li, .spaced-l-1-list > li {margin-left:10px;}
.spaced-1-list > li, .spaced-r-1-list > li {margin-right:10px;}

ol li.last-item,
ul li.last-item,
dl li.last-item {margin-left:0;margin-right:0;}

/* Usage: "main width-950px" */
.main {
  @extend .clear-fix;
  @extend .display-block;
  margin: 0 auto;
}
