// ## Imports
//
// - [bowerbird-constants.scss](bowerbird-constants.html)
// - [bowerbird-functions.scss](bowerbird-functions.html)
// - [bowerbird-mixins.scss](bowerbird-mixins.html)
// - [bowerbird-definitions.scss](bowerbird-definitions.html)

@import "bowerbird-constants";
@import "bowerbird-functions";
@import "bowerbird-mixins";
@import "bowerbird-definitions";

// ## Utilities
//
// ### Clearing
//
// `clear-fix`, `wrap-fix`
//
// Use `clear-fix` to force a block element to wrap it's content:
//
//     <div class="clear-fix" style="background:red;">
//       <div style="float:left;">Words</div>
//     </div>
//
// Alternatively, use `wrap-fix`:
//
//     <div class="wrap-fix" style="background:red;">
//       <div style="float:left;">Words</div>
//     </div>

@include def-clear-fix;
@include def-wrap-fix;

// ### Image Fix
//
// `image-fix`
//
// Removes space beneath images:
//
//     <div style="height:100px;background:red;">
//       <img class="image-fix" src="example.png" height="100" />
//     </div>
//     <div style="height:100px;background:red;">
//       Lorem ipsum dolor sit amet, consectetur adipisicing elit.
//     </div>

@include def-image-fix;

// ## Flow
//
// ### Display Mode
//
// `display-block`, `display-inline`, `display-inline-block`

@include def-display-block;
@include def-display-inline;
@include def-display-inline-block;

// ### Box Model
//
// `border-box`, `content-box`

@include def-border-box;
@include def-content-box;

// ### Grid Container
//
// `container`

.container {
  @extend .clear-fix;
  @extend .display-block;
  margin: 0 auto;
}

// ## Width, Height and Line-Height
//
// ### 0em1 Increments
//
// Width: `width-1em`, `width-1em1` ... `width-2em`
//
// Height: `height-1em`, `height-1em1` ... `height-2em`
//
// Line height: `line-height-1em`, `line-height-1em1` ... `line-height-2em`

@for $i from 10 through 20 {
  $ex: $i * 0.1ex;
  $em: $i * 0.1em;

  @include def-width( $ex );
  @include def-height( $em );
  @include def-line-height( $em );
}

// ### 0u1 (1px) Increments
//
// Width: `width-0`, `width-0u1` ... `width-2u`
//
// Box width: `box-width-0`, `box-width-0u1` ... `box-width-2u`
//
// Height: `height-0`, `height-0u1` ... `height-2u`
//
// Box height: `box-height-0`, `box-height-0u1` ... `box-height-2u`
//
// Line height: `line-height-0`, `line-height-0u1` ... `line-height-2u`

@for $i from 0 through 20 {
  $px: $i * 1px;

  @include def-width( $px );
  @include def-box-width( $px );

  @include def-height( $px );
  @include def-box-height( $px );
  @include def-line-height( $px );
}

// ### 0u5 (5px) Increments
//
// Width: `width-0`, `width-0u5` ... `width-10u`
//
// Box width: `box-width-0`, `box-width-0u5` ... `box-width-10u`
//
// Height: `height-0`, `height-0u5` ... `height-10u`
//
// Box height: `box-height-0`, `box-height-0u5` ... `box-height-10u`

@for $i from 0 through 20 {
  $px: $i * 5px;

  @include def-width( $px );
  @include def-box-width( $px );

  @include def-height( $px );
  @include def-box-height( $px );
}

// ### Column Increments
//
// Unit width: `width-0u3`, `width-0u7` ... `width-9u5`
//
// Box width: `box-width-0u3`, `box-width-0u7` ... `box-width-9u5`
//
// Column width: `width-1col`, `width-2col` ... `width-24col`
//
// Column box width: `box-width-1col`, `box-width-2col` ... `box-width-24col`

@for $i from 1 through 24 {
  $px: $i * 40px - 10;
  $col: $i * 1col;

  @include def-width( $px );
  @include def-box-width( $px );

  .width-#{ f($col) } { @extend .width-#{ f($px) }; }
  .box-width-#{ f($col) } { @extend .box-width-#{ f($px) }; }
}

// ### Misc

// Fill: `box-fill`

@include def-box-fill;

// Auto: `height-auto`, `width-auto`

.height-auto { @include height(auto); }
.width-auto { @include width(auto); }

// Width fractions: `width-full`, `width-half`, `width-third`, `width-third-2`,
// `width-quarter`, `width-quarter-3`

.width-full { @include box-width(100%); }
.width-half { @include box-width(50%); }
.width-third { @include box-width(33.33%); }
.width-third-2 { @include box-width(66.66%); }
.width-quarter { @include box-width(25%); }
.width-quarter-3 { @include box-width(75%); }

// ## Position
//
// ### Padding
//
// All: `pad-0`, `pad-0u1` ... `pad-2u`
//
// Top: `pad-top-0`, `pad-top-0u1` ... `pad-top-2u`
//
// Right: `pad-right-0`, `pad-right-0u1` ... `pad-right-2u`
//
// Bottom: `pad-bottom-0`, `pad-bottom-0u1` ... `pad-bottom-2u`
//
// Left: `pad-left-0`, `pad-left-0u1` ... `pad-left-2u`
//
// Sides: `pad-sides-0`, `pad-sides-0u1` ... `pad-sides-2u`
//
// Box: `pad-box-0`, `pad-box-0u1` ... `pad-box-2u`
//
// ### Sinking
//
// Sink: `box-width-0`, `box-width-0u5` ... `box-width-10u`
//
// Space: `height-0`, `height-0u5` ... `height-10u`
//
// Backspace: `box-height-0`, `box-height-0u5` ... `box-height-10u`

@for $i from 0 through 20 { /* 0u 0u1 0u2 ... */
  $px: $i * 1px;

  @each $side in $sides {
    @include def-pad( $px, $side );
    @include def-sink( $px, $side );
    @include def-space( $px, $side );
    @include def-backspace( $px, $side );
  }

  @each $direction in $directions {
    @include def-push( $px, $direction );
    @include def-pull( $px, $direction );
  }

  @each $key in pad, space {
    @include def-buffer-sides( $key, $px );
    @include def-buffer-box( $key, $px );
  }
}

@for $i from 0 through 20 { /* 0u 0u5 1u ... */
  $px: $i * 5px;

  @each $side in $sides {
    @include def-pad( $px, $side );
    @include def-sink( $px, $side );
    @include def-space( $px, $side );
    @include def-backspace( $px, $side );
  }

  @each $direction in $directions {
    @include def-push( $px, $direction );
    @include def-pull( $px, $direction );
  }
}

@for $i from 1 through 24 { /* 4u 8u 12u ... */
  $px: $i * 40px;

  @each $side in $sides {
    @include def-pad( $px, $side );
  }
}

/* float */

@include def-float( left );
@include def-float( right );

@each $alignment in $alignments {
  @include def-align( $alignment );
}

// ## Type

@include def-font-inherit;
@include def-font-regular;
@include def-font-bold;
@include def-font-italic;
@include def-font-oblique;
@include def-text-uppercase;
@include def-text-lowercase;
@include def-text-capitalize;
@include def-text-undecorated;
@include def-text-underlined;

// ## Lists

.unmarked-list {list-style-type:none;margin-right:0;padding-left:0;}
.floated-l-list > li {float:left;}
.floated-r-list > li {float:right;}
.inline-list > li {display:inline;}
.inline-block-list > li {display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;}

.spaced-1-list > li, .spaced-t-1-list > li {margin-top:10px;}
.spaced-1-list > li, .spaced-b-1-list > li {margin-bottom:10px;}
.spaced-1-list > li, .spaced-l-1-list > li {margin-left:10px;}
.spaced-1-list > li, .spaced-r-1-list > li {margin-right:10px;}

ol li.last-item,
ul li.last-item,
dl li.last-item {margin-left:0;margin-right:0;}

// ## Sprites

.sprite {background-position:top left;background-repeat:no-repeat;}
.sprite-button:hover {background-position:bottom left;}

/* invisible *****************************************************************/

.invisible {visibility:hidden;}

/* backgrounds ***************************************************************/

.bg-alert {background-color:#fcc;}
.bg-black {background-color:#000;}
.bg-error {background-color:#fcc;}
.bg-notice {background-color:#ffc;}
.bg-success {background-color:#cfc;}
.bg-white {background-color:#fff;}
.bg-no-repeat {background-repeat:no-repeat;}

/* borders *******************************************************************/

.border-e1, .border-t-e1 {border-top-style:solid;border-top-width:1px;}
.border-e1, .border-b-e1 {border-bottom-style:solid;border-bottom-width:1px;}
.border-e1, .border-s-e1, .border-r-e1 {border-right-style:solid;border-right-width:1px;}
.border-e1, .border-s-e1, .border-l-e1 {border-left-style:solid;border-left-width:1px;}
.border-alert {border-color:#900;}
.border-black {border-color:#000;}
.border-error {border-color:#900;}
.border-notice {border-color:#f90;}
.border-success {border-color:#090;}
.border-white {border-color:#fff;}

/* colors ********************************************************************/

.color-alert {color:#900;}
.color-alert a:focus,
.color-alert a:hover {color:#900;text-decoration:none;}
.color-alert a {color:#900;text-decoration:underline;}
.color-black {color:#000;}
.color-black a:focus,
.color-black a:hover {color:#000;text-decoration:none;}
.color-black a {color:#000;text-decoration:underline;}
.color-error {color:#900;}
.color-error a:focus,
.color-error a:hover {color:#900;text-decoration:none;}
.color-error a {color:#900;text-decoration:underline;}
.color-notice {color:#f90;}
.color-notice a:focus,
.color-notice a:hover {color:#f90;text-decoration:none;}
.color-notice a {color:#f90;text-decoration:underline;}
.color-success {color:#090;}
.color-success a:focus,
.color-success a:hover {color:#090;text-decoration:none;}
.color-success a {color:#090;text-decoration:underline;}
.color-white {color:#fff;}
.color-white a:focus,
.color-white a:hover {color:#fff;text-decoration:none;}
.color-white a {color:#fff;text-decoration:underline;}

/* formatting ****************************************************************/

.align-bottom {vertical-align:bottom;}
.align-center {text-align:center;}
.align-left {text-align:left;}
.align-middle {vertical-align:middle;}
.align-right {text-align:right;}
.align-top {vertical-align:top;}
.text-bold {font-weight:bold;}
.text-lowercase {text-transform:lowercase;}
.text-uppercase {text-transform:uppercase;}
.text-titlecase {text-transform:capitalize;}
.text-nocase {text-transform:none;}
.white-space-nowrap {white-space:nowrap;}
.font-small {font-size:10px;line-height:15px;}


/* small? */

.small p, .small address, .small pre, .small table, .small ol, .small ul, .small dl {margin-bottom:5px;}
