@import "bowerbird-constants";
@import "bowerbird-functions";

/* utilities *****************************************************************/

@mixin clear-fix {
  :after { content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; }
  display:block;
}

@mixin wrap-fix {
  overflow:auto; width:100%;
}

@mixin image-fix {
  display:block;
}

/* flow **********************************************************************/

@mixin clear( $side:both ) {
  clear:both;
}

@mixin display-hidden( $ext:() ) {
  display:none $ext;
}

@mixin display-block( $ext:() ) {
  display:block $ext;
}

@mixin display-inline( $ext:() ) {
  display:inline $ext;
}

@mixin display-inline-block( $ext:() ) {
  display:-moz-inline-stack $ext; display:inline-block $ext; vertical-align:top $ext; zoom:1 $ext; *display:inline $ext;
}

@mixin border-box( $ext:() ) {
  box-sizing:border-box $ext; -ms-box-sizing:border-box $ext; -moz-box-sizing:border-box $ext; -khtml-box-sizing:border-box $ext; -webkit-box-sizing:border-box $ext;
}

@mixin content-box( $ext:() ) {
  box-sizing:content-box $ext; -ms-box-sizing:content-box $ext; -moz-box-sizing:content-box $ext; -khtml-box-sizing:content-box $ext; -webkit-box-sizing:content-box $ext;
}

/* shape *********************************************************************/

@mixin width( $amount, $ext:() ) {
  width:$amount $ext;
}

@mixin height( $amount, $ext:() ) {
  height:$amount $ext;
}

@mixin box-width( $amount, $ext:() ) {
  @include border-box( $ext ); width:$amount $ext;
}

@mixin box-height( $amount, $ext:() ) {
  @include border-box( $ext ); height:$amount $ext;
}

@mixin box-fill( $ext:() ) {
  @include box-width( 100%, $ext ); @include box-height( 100%, $ext );
}

@mixin line-height( $amount, $ext:() ) {
  line-height:$amount, $ext;
}

/* position ******************************************************************/

@mixin pad( $amount, $sides:$sides, $ext:() ) {
  @each $side in $sides {
    padding-#{ $side }:$amount $ext;
  }
}

@mixin space( $amount, $sides:$sides, $ext:() ) {
  @each $side in $sides {
    margin-#{ $side }:$amount $ext;
  }
}

@mixin backspace( $amount, $sides:$sides, $ext:() ) {
  @each $side in $sides {
    margin-#{ $side }:-$amount $ext;
  }
}

@mixin push( $amount, $directions:$directions, $ext:() ) {
  @each $direction in $directions {
    #{ side-in-opposite-direction($direction) }:$amount $ext; position:relative;
  }
}

@mixin pull( $amount, $directions:$directions, $ext:() ) {
  @each $direction in $directions {
    #{ side-in-direction($direction) }:-$amount $ext; position:relative;
  }
}

@mixin sink( $amount, $sides:top left right bottom, $ext:() ) {
  @each $side in $sides {
    $side:$amount $ext; position:absolute;
  }
}

@mixin float( $sides:left right, $ext:() ) {
  @each $side in $sides {
    float:$side $ext;
  }
}

@mixin align( $alignment, $ext:() ) {
  @if is-horizontal-alignment( $alignment ) {
    text-align:$alignment $ext;
  } else {
    vertical-align:$alignment $ext;
  }
}

@mixin space-center {
  margin:0 auto;
}

/* type **********************************************************************/

@mixin font-inherit( $ext:() ) {
  color:inherit $ext; font-size:inherit $ext; font-weight:inherit $ext; text-decoration:none $ext; text-transform:inherit $ext;
}

@mixin font-weight( $amount:bold, $ext:() ) {
  font-weight:$amount $ext;
}

@mixin font-regular( $ext:() ) {
  @include font-weight(normal, $ext);
}

@mixin font-bold( $ext:() ) {
  @include font-weight(bold, $ext);
}

@mixin font-style( $style, $ext:() ) {
  font-style:$style $ext;
}

@mixin font-italic( $ext:() ) {
  @include font-style(italic, $ext);
}

@mixin font-oblique( $ext:() ) {
  @include font-style(oblique, $ext);
}

@mixin font-size( $size, $ext:() ) {
  font-size:$size $ext;
}

@mixin font-color( $color, $ext:() ) {
  color:$color $ext;
}

@mixin text-case( $case, $ext:() ) {
  text-transform:if( $case == capital, capitalize, $case + case ) $ext;
}

@mixin text-uppercase( $ext:() ) {
  @include text-case(upper, $ext);
}

@mixin text-lowercase( $ext:() ) {
  @include text-case(lower, $ext);
}

@mixin text-capitalize( $ext:() ) {
  @include text-case(capital, $ext);
}

@mixin text-decoration( $decoration, $ext:() ) {
  text-decoration:$decoration $ext;
}

@mixin text-undecorated( $ext:() ) {
  @include text-decoration( none, $ext );
}

@mixin text-underlined( $ext:() ) {
  @include text-decoration( underline, $ext );
}

@mixin text-hidden( $ext:() ) {
  text-align:left; text-indent:-9999px;
}


