<div class="container width-24col">
  <div class="header column width-24col height-16u space-bottom-1u">

    <div class="height-2u space-bottom-4u">
      <p>Working Images</p>
    </div>

    <div class="left column width-16col space-right-1u height-6u">
      <h1 class="italic heading column">design thinking</h1>
    </div>

    <div class="left column width-8col height-6u">
      <p>
        Visual solutions that reach out and engage.<br />
        Tangible faces for business, people and products.<br />
        Ideas brought to life. Design that works.
      </p>
    </div>

  </div>

  <div class="main">

    <div class="left column width-4col space-right-1u">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Enrivonmental</a></li>
        <li><a href="#">Information</a></li>
        <li><a href="#">Identity &amp; branding</a></li>
        <li><a href="#">View all projects</a></li>
        <li><a href="#">Process + approach</a></li>
        <li><a href="#">Client testimonials</a></li>
        <li><a href="#">Occasional papers</a></li>
        <li><a href="#">Play</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">eBulletin</a></li>
        <li><a href="#">Random</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="left column width width-17col space-right-1u">
      <h2 class="die">Recent Projects</h2>

      <div class="height-35u" style="background-color:#999;"></div>
    </div>

    <div class="left column width-3col">
      <h6>Strategic Services</h6>

      <p>Brand Profiling</p>

      <p>Brand Opinion</p>
    </div>

    <div class="left column space-left-16u width-17col space-right-4col">
      <hr class="height-1u" />

      <div class="left column width-5col space-right-1u">
        <div class="height-4u">
          <h3>Project Title</h3>
        </div>
        <p>Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
      </div>

      <div class="left column width-6col space-right-1u">
        <div class="height-4u">
        </div>
        <p>Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
      </div>

      <div class="left column width-6col">
        <div class="height-4u">
        </div>
        <p>Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
    </div>

  </div>
</div>