<div class="main min-h-40u0 w-80pc bg-color-white" style="text-align:center; overflow:hidden;">

  <div class="float top left padded rounded horizontal black hoverable button line-h-35px font-bold"><a href="#">Magoo</a></div>

  <ul class="float top right spaced padded rounded horizontal black hoverable buttons line-h-35px font-bold">
    <li><a href="#">Abbess</a></li>
    <li><a href="#">Ablaze</a></li>
    <li><a href="#">Ace</a></li>
    <li><a href="#">Acid</a></li>
    <li><a href="#">Adamant</a></li>
  </ul>

  <div class="pad-top-100px">
    <ul class="spaced padded rounded horizontal black hoverable buttons h-35px line-h-35px font-bold ">
      <li class="disabled"><a>Disabled</a></li>
      <li><a href="#">Ablaze</a></li>
      <li><a href="#">Ace</a></li>
      <li><a href="#">Acid</a></li>
      <li class="submit button"><input type="submit" value="Submit" class="submit"></input></li>
    </ul>

    <br style="clear:both;" />

    <div class="padded rounded horizontal black hoverable button line-h-35px font-bold"><a href="#">Button</a></div>
  </div>

  <ul class="float left padded rounded vertical hoverable buttons line-h-35px font-bold space-top-40px">
    <li class="ribena-1 button"><a href="#">Abbess</a></li>
    <li class="ribena-2 button"><a href="#">Ablaze</a></li>
    <li class="ribena-3 button"><a href="#">Ace</a></li>
    <li class="ribena-4 button"><a href="#">Acid</a></li>
    <li class="ribena-5 button"><a href="#">Adamant</a></li>
  </ul>

  <br style="clear:both;" />
  <br style="clear:both;" />
  <br style="clear:both;" />
  <br style="clear:both;" />
  <br style="clear:both;" />
  <br style="clear:both;" />

  <ul class="sink bottom left padded rounded horizontal hoverable buttons line-h-35px font-bold">
    <li class="deep-red-1 button"><a href="#">Abbess</a></li>
    <li class="deep-red-2 button"><a href="#">Ablaze</a></li>
    <li class="deep-red-3 button"><a href="#">Ace</a></li>
    <li class="deep-red-4 button"><a href="#">Acid</a></li>
    <li class="deep-red-5 button"><a href="#">Adamant</a></li>
  </ul>

  <ul class="sink bottom right spaced padded rounded vertical black hoverable buttons xs-h-35px line-h-35px font-bold w-11">
    <li><a href="#">Abbess</a></li>
    <li><a href="#">Ablaze</a></li>
    <li><a href="#">Ace</a></li>
    <li><a href="#">Acid</a></li>
    <li><a href="#">Adamant</a></li>
  </ul>
</div>

<hr />

<h1 class="color-white bg-blue-grad align-center pad-top-40px pad-bottom-40px space-bottom-0px lh-2 ts-1-black-80p">Bowerbird<br /><span class="h6 space-bottom-0px lh-1e">Katalyst's HTML/CSS Library</span></h1>
<div class="main w-95 pad-s-1 bg-white pad-top-40px">
  <div class="space-l-4 w-87 pad-r-3">
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <ol>
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#reference">Reference</a></li>
        <li><a href="#grid">Grid</a></li>
        <li><a href="#headings">Headings</a></li>
        <li><a href="#inline">Inline Elements</a></li>
        <li><a href="#flash">Flash Messages</a></li>
        <li>
          <a href="#forms">Forms</a>
          <ol>
            <li><a href="#forms-basic">Basic Inputs</a></li>
            <li><a href="#forms-compound">Compound Inputs</a></li>
            <li><a href="#forms-decorations">Decorations</a></li>
            <li><a href="#forms-layout">Layout</a></li>
          </ol>
        </li>
        <li><a href="#tables">Tables</a></li>
      </ol>
    </div>
    <h2 id="intro" class="border-bottom-1px pad-bottom-5px">Introduction</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <p>
        Bowerbird provides to foundation for a CSS based layout. Bowerbird is design agnostic
        and has been developed with the intention of project specific CSS being layered on top of it.
      </p>
      <p>
        Borrows from <a href="https://github.com/stubbornella/oocss/wiki">Object-Orientated CSS</a>.
      </p>
    </div>
    <h2 id="principles" class="border-bottom-1px pad-bottom-5px">Guiding Principles</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <h3>Fat HTML, Thin CSS</h3>
      <p>
        If a developer can't read the code, it's worthless. CSS often become unreadable because
        of complex selectors fighting for specificity and many properties being attached to a
        single rule. CSS needs to be carefully looked after to ensure it remains maintainable.
        HTML rarely becomes unreadable &ndash; abuse it.
      </p>
      <h3>Inheritance Selectors Cause Fights</h3>
      <p>
        CSS provides developers with many options for selecting which elements to
        style&hellip; that doesn't mean you should use them all. Problems commonly arise when
        using inheritance selectors because of conflicting specificity. To prevent this
        happening avoid using inheritance selectors and (if possible) don't use anything except
        single class selectors. Following this principle means that the only thing that affects
        the order rules are applied is the order they are declared in.
      </p>
      <h3>Consistency is Key</h3>
      <p>
        If you want an orange background you make a <code>.bg-orange</code> class. If there's
        already a <code>.bg-orange</code> class defined that's a slightly different orange, you
        need to talk to the designer. It's likely that only one of them is correct.
      </p>
    </div>
    <h2 id="rationale" class="border-bottom-1px pad-bottom-5px">Rationale</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <h3>Rejected Approaches</h3>
      <h4>Style Attribute</h4>
      <script src="https://gist.github.com/1552936.js?file=option-1.html"></script>
      <noscript><a href="https://gist.github.com/1552936#file_option_1.html">View this Gist on GitHub.</a></noscript>
      <h4>Named Elements</h4>
      <script src="https://gist.github.com/1552936.js?file=option-2.html"></script>
      <noscript><a href="https://gist.github.com/1552936#file_option_2.html">View this Gist on GitHub.</a></noscript>
      <h4>Blueprint CSS</h4>
      <script src="https://gist.github.com/1552936.js?file=option-3.html"></script>
      <noscript><a href="https://gist.github.com/1552936#file_option_3.html">View this Gist on GitHub.</a></noscript>
      <h3>Chosen Approach</h3>
      <ul>
        <li>Easier to read and with slightly less repetition than using the <em>Style Attribute</em> approach.</li>
        <li>Far more flexible than the <em>Named Elements</em> approach.</li>
        <li>No duplication of classes in CSS, unlike the <em>Blueprint CSS</em> approach.</li>
      </ul>
      <script src="https://gist.github.com/1552936.js?file=option-4.html"></script>
      <noscript><a href="https://gist.github.com/1552936#file_option_4.html">View this Gist on GitHub.</a></noscript>
    </div>
    <h2 id="reference" class="border-bottom-1px pad-bottom-5px">Reference</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <h3>Units</h3>
      <table class="w-1-2">
        <thead>
          <tr>
            <th scope="col">Unit</th>
            <th scope="col">Meaning</th>
            <th scope="col">Class Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><code>5</code></th>
            <td><code>50px</code></td>
            <td><code>.w-5</code></td>
          </tr>
          <tr>
            <th scope="row"><code>half</code></th>
            <td><code>5px</code></td>
            <td><code>.space-bottom-5px</code></td>
          </tr>
          <tr>
            <th scope="row"><code>n1</code></th>
            <td><code>-10px</code></td>
            <td><code>.backspace-top-1px</code> (not built in)</td>
          </tr>
          <tr>
            <th scope="row"><code>e8</code></th>
            <td><code>8px</code></td>
            <td><code>.border-r-e8</code> (not built in)</td>
          </tr>
          <tr>
            <th scope="row"><code>ne8</code></th>
            <td><code>-8px</code></td>
            <td><code>.space-l-ne8</code> (not built in)</td>
          </tr>
          <tr>
            <th scope="row"><code>1e0</code></th>
            <td><code>1em</code></td>
            <td><code>.lh-1e0</code></td>
          </tr>
          <tr>
            <th scope="row"><code>1e5</code></th>
            <td><code>1.5em</code></td>
            <td><code>.lh-1e5</code></td>
          </tr>
          <tr>
            <th scope="row"><code>1-1</code></th>
            <td><code>100%</code> (1 of 1)</td>
            <td><code>.w-1-1</code></td>
          </tr>
          <tr>
            <th scope="row"><code>2-3</code></th>
            <td><code>33.33%</code> (2 of 3)</td>
            <td><code>.w-2-3</code></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th scope="col">Example</th>
            <th scope="col">Meaning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><code>.w-5</code></th>
            <td><code>width:50px</code></td>
          </tr>
          <tr>
            <th scope="row"><code>.w-half</code></th>
            <td>5px wide</td>
          </tr>
          <tr>
            <th scope="row"><code>.space-top-6px</code></th>
            <td>6px top margin</td>
          </tr>
          <tr>
            <th scope="row"><code>.backspace-top-10px</code></th>
            <td>-10px top margin</td>
          </tr>
          <tr>
            <th scope="row"><code>.backspace-top-1px</code></th>
            <td>-1px top margin</td>
          </tr>
          <tr>
            <th scope="row"><code>.w-1-2</code></th>
            <td>50% wide</td>
          </tr>
          <tr>
            <th scope="row"><code>.lh-1e0</code></th>
            <td>1em line height</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2 id="grid" class="border-bottom-1px pad-bottom-5px">Grid</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <div class="span-6 append-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="span-15 last-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <h2 id="headings" class="border-bottom-1px pad-bottom-5px">Headings</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <div class="span-6 append-1">
        <p>
          Any element can be styled like a heading using a <code>.h1</code>,
          <code>.h2</code>, <code>.h3</code>, <code>.h4</code>, <code>.h5</code> or
          <code>.h6</code> class.
        </p>
      </div>
      <div class="span-15 last-col">
        <p class="h1">Example of:<br />Heading 1</p>
        <p class="h2">Example of:<br />Heading 2</p>
        <p class="h3">Example of:<br />Heading 3</p>
        <p class="h4">Example of:<br />Heading 4</p>
        <p class="h5">Example of:<br />Heading 5</p>
        <p class="h6">Example of:<br />Heading 6</p>
      </div>
    </div>
    <h2 id="inline" class="border-bottom-1px pad-bottom-5px">Inline Elements</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <div class="span-6 append-1">
        <p><code>STRONG</code>, <code>EM</code> &amp; <code>A</code> elements.</p>
      </div>
      <div class="span-15 last-col">
        <h5>STRONG</h5>
        <p>Lorem ipsum dolor sit amet, <strong>STRONG consectetur adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore <strong><em>STRONG A et dolore magna</em></strong> aliqua. Ut enim ad minim veniam, <strong><a href="http://example.com/">STRONG A quis nostrud exercitation ullamco laboris</a></strong> nisi ut aliquip ex ea commodo consequat.</p>
        <h5>EM</h5>
        <p>Lorem ipsum dolor sit amet, <em>EM consectetur adipisicing elit</em>, sed do eiusmod tempor incididunt ut labore <em><a href="http://example.com/">EM A et dolore magna</a></em> aliqua. Ut enim ad minim veniam, <em><strong>EM STRONG quis nostrud exercitation ullamco laboris</strong></em> nisi ut aliquip ex ea commodo consequat.</p>
        <h5>A</h5>
        <p>Lorem ipsum dolor sit amet, <a href="http://example.com/">A consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore <a href="http://example.com/"><strong>A STRONG et dolore magna</strong></a> aliqua. Ut enim ad minim veniam, <a href="http://example.com/"><em>A EM quis nostrud exercitation ullamco laboris</em></a> nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <h2 id="lists" class="border-bottom-1px pad-bottom-5px">Lists</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <div class="span-22 last-col space-top-4">
        <div class="span-6 append-1">
          <p>Default styles for <code>OL</code>, <code>UL</code> &amp; <code>DL</code> elements.</p>
        </div>
        <div class="span-15 last-col">
          <h5>Unordered List</h5>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
            <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
          </ul>
          <h5>Ordered List</h5>
          <ol>
            <li>Exercitation</li>
            <li>Adipisicing</li>
            <li>Deserunt</li>
          </ol>
          <h5>Definition List</h5>
          <dl>
            <dt>reprehenderit</dt>
            <dd>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
            <dd>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
            <dt>deserunt</dt>
            <dd>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</dd>
          </dl>
          <h5>Nested List</h5>
          <ul>
            <li>
              Incididunt
              <ol>
                <li>
                  Commodo
                  <ul>
                    <li>Dolor</li>
                  </ul>
                </li>
                <li>Consectetur</li>
              </ol>
            </li>
            <li>Adipisicing</li>
          </ul>
        </div>
      </div>
      <div class="span-22 last-col space-top-4">
        <div class="span-6 append-1">
          <h3>Modifying Lists</h3>
          <p>Default styles for <code>OL</code>, <code>UL</code> &amp; <code>DL</code> elements.</p>
        </div>
        <div class="span-15 last-col">
          <h5>Unmarked List</h5>
          <ul class="unmarked-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa.</li>
          </ul>
          <div class="pad-1 border-e1 space-bottom-10px border-yellow">
            <h6 class="uppercase">Code Example</h6>
            <pre class="pad-1">
&lt;ul class=&quot;unmarked-list&quot;&gt;
&lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/li&gt;
&lt;li&gt;Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.&lt;/li&gt;
&lt;li&gt;Duis aute irure dolor in reprehenderit in voluptate velit.&lt;/li&gt;
&lt;li&gt;Excepteur sint occaecat cupidatat non proident, sunt in culpa.&lt;/li&gt;
&lt;/ul&gt;</pre>
          </div>
          <h5>Inline List</h5>
          <ul class="unmarked-list inline-list">
            <li>Exercitation</li>
            <li>Adipisicing</li>
            <li>Deserunt</li>
          </ul>
          <h5>Definition List</h5>
          <dl>
            <dt>reprehenderit</dt>
            <dd>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
            <dd>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
            <dt>deserunt</dt>
            <dd>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</dd>
          </dl>
          <h5>Nested List</h5>
          <ul>
            <li>
              Incididunt
              <ol>
                <li>
                  Commodo
                  <ul>
                    <li>Dolor</li>
                  </ul>
                </li>
                <li>Consectetur</li>
              </ol>
            </li>
            <li>Adipisicing</li>
          </ul>
        </div>
      </div>
    </div>
    <h2 id="flash" class="border-bottom-1px pad-bottom-5px">Flash Messages</h2>
    <div class="span-22 last-col pad-bottom-10px space-bottom-40px">
      <div class="span-6 append-1">
        Pre-defined styles for <em>error</em>, <em>success</em>, <em>notice</em> &amp; <em>alert</em> messages.
      </div>
      <div class="span-15 last-col">
        <p class="border-e1 border-error color-error bg-error pad-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="#">sed do eiusmod tempor</a> incididunt ut labore et dolore magna aliqua.</p>
        <p class="border-e1 border-success color-success pad-1 bg-success">Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="border-e1 border-notice color-notice pad-1 bg-notice">Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="border-e1 border-alert color-alert pad-box-1 bg-alert space-bottom-10px">
          <p>The following problems were encountered:</p>
          <ul>
            <li><a href="#setting_name">Name can't be blank.</a></li>
            <li><a href="#setting_name">Key can't be blank.</a></li>
          </ul>
        </div>
      </div>
    </div>
    <h2 id="forms" class="border-bottom-1px pad-bottom-5px">Forms</h2>
    <div class="span-22 last-col pad-b-1 space-b-4">
      <div class="span-22 last-col space-top-4">
        <div class="span-6 append-1">
          <h3 id="forms-basic">Basic Inputs</h3>
        </div>
        <div class="span-15 last-col">
          <form>
            <div class="space-bottom-10px">
              <label class="h6 block">Text</label>
              <input type="text" />
            </div>
            <div class="space-bottom-10px">
              <label class="h6 block">Password</label>
              <input type="password" />
            </div>
            <div class="space-bottom-10px">
              <label class="h6 block">Select</label>
              <select>
                <option>Option A</option>
                <option>Option B</option>
                <option>Option C</option>
                <option>Option D</option>
                <option>Option E</option>
              </select>
            </div>
            <div class="space-bottom-10px">
              <label>
                <input type="checkbox" /> Checkbox
              </label>
            </div>
            <div class="space-bottom-10px">
              <label>
                <input type="radio"> Radio Button
              </label>
            </div>
            <div class="space-bottom-10px">
              <label class="h6 block">Textarea</label>
              <textarea></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="span-22 last-col space-top-4">
        <div class="span-6 append-1">
          <h3 id="forms-compound">Compound Inputs</h3>
          <p>Grouped and combined inputs.</p>
        </div>
        <div class="span-15 last-col">
          <form>
            <div class="space-bottom-10px">
              <h6>Checkboxes</h6>
              <ol class="unmarked-list">
                <li>
                  <label>
                    <input type="checkbox" /> Option A
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" /> Option B
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" /> Option C
                  </label>
                </li>
              </ol>
            </div>
            <div class="space-bottom-10px">
              <h6>Radio Buttons</h6>
              <ol class="unmarked-list">
                <li>
                  <label>
                    <input type="radio" /> Option A
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" /> Option B
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" /> Option C
                  </label>
                </li>
              </ol>
            </div>
            <div class="space-bottom-10px">
              <label class="h6" for="file">Image Widget</label>
              <div class="clearfix space-bottom-10px">
                <img class="imgfix left space-r-1" src="#" width="100" height="100" />
                <ol class="left unmarked-list">
                  <li>
                    <label>
                      <input type="radio" name="image" />
                      Keep this Image
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio" name="image" />
                      Delete this Image
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="radio" name="image" />
                      Upload a New Image
                    </label>
                    <hr class="space" />
                    <input id="file" type="file" />
                  </li>
                </ol>
              </div>
            </div>
            <div class="space-bottom-10px">
              <h6>Repeatable Input</h6>
              <ol class="unmarked-list spaced-b-1-list">
                <li class="clearfix">
                  <div class="column span-half no-gutter">
                    <input type="text" />
                  </div>
                </li>
                <li class="clearfix">
                  <div class="column span-half no-gutter">
                    <input type="text" />
                  </div>
                  <div class="column span-half no-gutter">
                    <a class="small" href="#">Delete</a>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="column span-half no-gutter">
                    <input type="text" />
                  </div>
                  <div class="column span-half no-gutter">
                    <a class="small" href="#">Delete</a>
                  </div>
                </li>
              </ol>
              <p>
                <button>Add Another Input</button>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div class="span-22 last-col space-top-4">
        <div class="span-6 append-1">
          <h3 id="forms-decorations">Decorations</h3>
        </div>
        <div class="span-15 last-col">
          <form>
            <div class="space-bottom-10px">
              <label class="h6 block">Input with Hint</label>
              <input type="text" />
              <div class="small">
                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                  <li>consectetur</li>
                  <li>adipisicing</li>
                </ul>
              </div>
            </div>
            <div class="space-bottom-10px">
              <label class="h6 block">Optional Input <small><em>(optional)</em></small></label>
              <input type="text" />
            </div>
            <div class="space-bottom-10px">
              <label class="h6 block">Required Input <abbr title="required">*</abbr></label>
              <input type="text" />
            </div>
            <div class="space-bottom-10px">
              <label class="h6 block">Input with Error</label>
              <input type="text" />
              <p class="color-error">Name can't be blank.</p>
            </div>
          </form>
        </div>
      </div>
      <div class="span-22 last-col space-top-4">
        <div class="span-6 append-1">
          <h3 id="forms-layout">Layout</h3>
        </div>
        <div class="span-15 last-col">
          <form>
            <div class="space-bottom-10px">
              <label class="h6 block">Fixed-Height Text Area</label>
              <textarea class="reach-10"></textarea>
            </div>
            <div class="space-bottom-10px span-half">
              <label class="h6 block">Narrow Input</label>
              <input type="text" />
            </div>
            <div class="space-bottom-10px">
              <label class="h6 block">Two-Part Input</label>
              <div class="left span-half">
                <input type="text" />
              </div>
              <div class="left span-half">
                <input type="text" />
              </div>
            </div>
            <!--
            <div class="column no-gutter span-half">
              <label class="h6 block">Half Input</label>
              <input type="text" />
            </div>
            <div class="column no-gutter span-third">
              <label class="h6 block">Third Input</label>
              <input type="text" />
            </div>
            <div class="column no-gutter span-third">
              <label class="h6 block">Third Input</label>
              <input type="text" />
            </div>
            <div class="column no-gutter span-third">
              <label class="h6 block">Third Input</label>
              <input type="text" />
            </div>
            -->
          </form>
        </div>
      </div>
    </div>
    <h2 id="tables" class="border-bottom-1px pad-bottom-5px">Tables</h2>
    <div class="span-22 last-col pad-b-1 space-b-4">
      <div class="span-22 last-col space-top-4">
        <div class="span-6 append-1">
          &nbsp;
        </div>
        <div class="span-15 last-col">
          <table>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dave</td>
                <td>42</td>
              </tr>
              <tr>
                <td>Jane</td>
                <td>29</td>
              </tr>
              <tr>
                <td>Joe</td>
                <td>33</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th scope="row">Total</th>
                <td>104</td>
              </tr>
            </tfoot>
            <caption>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</caption>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="align-center bg-black color-white pad-half">
  <p class="small space-b-0">Parts adapted from the <a href="http://blueprintcss.org/">Blueprint CSS Framework</a> by <a href="http://katalyst.com.au/">Katalyst Interactive</a>.</p>
</div>